/************ CSS COMMUN ************/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300..700&display=swap');

/* @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css); */

fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #001D3D;
    --beige: #FFFAE0;
    --corail: #EB7A57;
    --font-size-paragraph: 16px;
    --font-size-title: 2rem;
}

body {
    margin: 0;
    font-family: "Fredoka", sans-serif;
    background-color: var(--dark-blue);
}

section {
    margin-right: auto;
    margin-left: auto;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1350px;
}


/************ NAV BAR ************/
/* Styles pour la barre de navigation */
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px 0px;
    background: linear-gradient(#001429, transparent);
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Styles pour le logo à gauche */
.logo img {
    width: 4em;
}

/* Centrage des liens de navigation */
.nav-links {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

.nav-links i {
    padding-right: 3px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    line-height: 45px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFAE0;
    font-size: 16px;
    font-family: Fredoka;
    padding-left: 50px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #EB7A57;
}

/* Alignement des icônes à droite */
.nav-icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-icons .icon {
    margin-left: 15px;
    position: relative;

}

.nav-icons .icon i {
    font-size: 1.5em;
    color: #FFFAE0;
    text-decoration: none;
    transition: color 0.3s;
}

.icon i:hover,
.search-icon i:hover {
    color: #EB7A57;
    text-decoration: none;
}

.tab-bar {
    display: none;
}

/*****************barre de recherche*****************/
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box {
    transition: width 0.6s ease, border-radius 0.6s ease, background 0.6s ease, box-shadow 0.6s ease;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: text;
    background: transparent;
    color: transparent;
    padding-left: 40px;
    text-indent: -5000px;
}

.search-box:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #FFFAE0;
}

.search-box.active {
    width: 300px;
    border-radius: 20px;
    background: #001D3D;
    color: #FFFAE0;
    text-indent: 0;
    padding-left: 40px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 54%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon i {
    color: #FFFAE0;
    font-size: 1.5rem;
}

/* Styles pour le menu déroulant */
.account {
    position: relative;
}

.sub-menus {
    position: absolute;
    top: 144%;
    /* Positionner le sous-menu directement sous le parent */
    right: 0;
    /* Aligner le sous-menu avec le bord droit de l'icône */
    width: 200px;
    /* Largeur du sous-menu */
    background: #001429;
    z-index: 99;
    display: none;
    /* Masqué par défaut */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.594);
}

.sub-menus hr {
    border: solid 1px #FFFAE0;
    margin-inline: 10%;
}

.sub-menus.active {
    display: block;
    /* Affiche le sous-menu */
    opacity: 1;
    /* Assure une transition en douceur */
    visibility: visible;
}

.sub-menus li {
    list-style: none;
}

.sub-menus a {
    color: #FFFAE0;
    font-size: 16px;
    font-family: Fredoka;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 15px;
}

.sub-menus a:hover {
    color: #EB7A57;
}

.sub-menus i {
    padding-right: 10px;
    /* Espacement entre l'image et le texte */
    font-size: 1.5rem;
}


/************ VIDEO PLAYER BOX ************/
/* Police de l'écriture de la vidéo */
#principal-video h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: 4rem;
    margin: 15px 0px 0px 15px;
    letter-spacing: 2px;
}

/*Placement du h1 sur la vidéo*/
#title-video-container {
    position: absolute;
    top: 0px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* opacité à 0 pour cacher au départ */
    /* opacity: 0;
    transition: opacity 1s ease; */
}

/* cadre qui contient les controls et le titre de la vidéo */
#frame-video-title-controls {
    position: absolute;
    /* ici le frame est par dessus une autre div qui est en position relative,
    du coup avec je lui fait prendre toute la hauteur de sa div parent (video-container) */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    opacity: 0;
    transition: opacity 1s ease;
}

/*VIDEO CONTAINER*/
#principal-video {
    padding: 2rem;
    /* border: 1px solid green; */
}

#video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    /* overflow: hidden; */
    margin-top: 50px;
    /* border: 1px solid yellow; */
}

#video-container video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
    position: relative;
    background-color: #000;
}

#video-controls-container {
    height: 100px;
    background: linear-gradient(to top, #000, transparent);
    position: absolute;
    bottom: -1px;
    width: 100%;

    /* opacity: 0;
    transition: opacity 1s ease; */
}

#video-container:fullscreen {
    width: 100vw;
    /* La vidéo occupe toute la largeur de l'écran */
    height: 100vh;
    /* La vidéo occupe toute la hauteur de l'écran */
    position: relative;
}

#video-controls-container:fullscreen {
    width: 100%;
    /* Les contrôles occupent toute la largeur de l'écran */
    position: absolute;
    bottom: 0;
    /* Positionnez les contrôles en bas de la vidéo */
    z-index: 10000;
    /* Assurez-vous que les contrôles sont toujours au-dessus */
}

/* TOP CONTROLS */
#top-controls {
    display: flex;
    position: relative;
    bottom: -25px;
}

/* PROGRESS BAR AND THUMB SLIDER*/
#container-progress-bar {
    width: 85%;
    height: 10px;
    background-color: #d3d3d3;
    /*couleur de la barre non remplie */
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-left: 15px;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background-color: var(--beige);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.1s ease;
    z-index: 1;
    /* la barre de progression est en dessous */
}

#thumb-slider {
    width: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    background: transparent;
    z-index: 2;
    /* le thumb slider est au-dessus */
    -webkit-appearance: none;
    /* supprime les styles par défaut */
    pointer-events: none;
    /* permet de desactiver l'interaction directe avec le slider */
}

/* apparence du thumb slider */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--beige);
    border-radius: 50%;
    pointer-events: auto;
    /* activer l'interaction pour le thumb */
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: var(--beige);
    border-radius: 50%;
    pointer-events: auto;
    /* activer l'interaction pour le thumb */
}

#time-progression-container {
    font-size: var(--font-size-paragraph);
    color: #fff;
    font-family: 'Fredoka';
    position: absolute;
    top: -6px;
    right: 0px;
    margin-right: 15px;
}

/* ICONES DU PLAYER : #btn-en-arriere, #btn-en-avant, .fa-pause,
.fa-play, .fa-volume-xmark, .fa-volume-high, .fa-expand, .fa-compress */
.fa-pause,
.fa-play,
.fa-volume-xmark,
.fa-volume-low,
.fa-volume-high,
.fa-expand,
.fa-compress {
    font-size: 30px;
    color: var(--beige);
    margin-top: 10px;
    cursor: pointer;
}

#btn-en-arriere,
#btn-en-avant {
    font-size: 30px;
    color: var(--beige);
    font-family: 'Fredoka';
    padding: 5px;
    cursor: pointer;
}

/* BOTTOM CONTROLS */
#bottom-controls {
    display: flex;
    margin: 0px 20px;
    position: relative;
    bottom: -35px;
}

/* BOTTOM LEFT CONTROLS */
div #left-controls {
    display: flex;
    gap: 25px;
}

/* BOTTOM RIGHT CONTROLS */
#right-controls {
    display: flex;
    gap: 25px;
    position: absolute;
    right: 10px;
    align-items: center;
}

#volume-slider {
    height: 10px;
    width: 100px;
    background-color: #d3d3d3;
    accent-color: var(--beige);
    z-index: 2;
    -webkit-appearance: none;
    pointer-events: none;
    border-radius: 5px;
}

/* #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: auto;
} */

/* #volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--beige);
    cursor: pointer;
} */

/* Dans cette section on cache les controls founis par safari ou chrome */
video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

/************ DESCRIPTION ************/

#description h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin-top: 75px;
    letter-spacing: 2px;
}

#description p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    line-height: 1.5rem;
}

#container-select-boxes-and-favorite-likes {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}


select {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: var(--font-size-paragraph);
    background-color: var(--dark-blue);
    color: var(--beige);
    border: 2px solid var(--beige);
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    /* ici j'ai enlevé l'apparence de base du chevron du coup 
    j'ai ajouté une image pour avoir un chevron qui me convenait */
    appearance: none;
    background-image: url('/assets/images-fiche-dessin-anime/chevron-beige.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 5px center;
    width: 140px;
    cursor: pointer;
}

select:hover,
select:focus {
    border-color: var(--corail);
    outline: none;
}

.select-container-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
    /*ajustement au niveau du contenu au lieu du conteneur*/
}

/* FAVORIS AND LIKE */
#container-favoris-and-like {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#container-favoris-and-like>button {
    background: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 30px;
    color: var(--beige);
}

/* .fa-heart,
.fa-thumbs-up {
    font-size: 30px;
    color: var(--beige);
    margin-top: 10px;
    cursor: pointer;
} */

/************ COMMENTAIRES ************/
#commentaires {
    width: 90%;
}

#description {
    width: 90%;
}

#commentaires h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin-top: 75px;
    letter-spacing: 2px;
}

#commentaires p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    line-height: 1.5rem;
}

.fa-circle-user {
    font-size: 2rem;
    color: var(--beige);

}

.fa-chevron-down {
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    cursor: pointer;
}

#container-show-more-comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--beige);
    margin-top: 30px;
}

#show-more-comment {
    cursor: pointer;
}

#commentaires .user-comment-row {
    margin: 30px 0px 10px 0px;
}

.user-comment-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

/************ VOTRE AVIS ************/

#votre-avis h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin: 25px 0px;
    letter-spacing: 2px;
    margin-left: 5%;
}

#votre-avis p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige)
}

#votre-avis .user-comment-row {
    margin: 0px 0px 20px 5%;
}

textarea {
    color: var(--beige);
    background-color: #001429;
    opacity: 0.75;
    width: 90%;
    height: 230px;
    resize: none;
    /*retire l'element qui permet d'agrandir la text area*/
    border: 2px solid transparent;
    /*bordure en transparent pour que lors du focus ca ne s'agrandisse pas*/
    outline: none;
    padding: 10px;
    font-family: 'Fredoka';
    font-weight: 400;
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
    margin-left: 5%;
}

textarea:hover {
    cursor: pointer;
}

textarea:focus {
    cursor: text;
    border-color: var(--beige);
    /*bordure ne s'agrandit pas */
}

button[type="submit"] {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    background-color: var(--dark-blue);
    color: var(--beige);
    text-decoration: none;
    border: 1.5px solid var(--beige);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    display: block;
    /*le btn est en display block comme ca je n'ai pas à créer de div pour le centrer*/
    margin: 20px auto 0px auto;
    cursor: pointer;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    border-color: var(--corail);
    color: #EB7A57;
}

/************ NOS SUGGESTIONS ************/
#nos-suggestions h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin: 50px 0 30px 5%;
    letter-spacing: 2px;
}

/* CODE DE LOUISIANE */
#historique-container,
#series-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Transition fluide */
    /* border: 1px solid #45af5e; */
    /* align-items: center; */
    justify-content: center;
}

.carousel-container,
.carousel-container-reprendre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    /* Empêche le débordement visuel */
    width: 100%;
    /* border: solid 1px red;  */
}

.container,
.reprendre-container {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
    align-items: center;
    height: 40vh;
    overflow: hidden;
    width: 100%;
    /* border: solid 1px yellow; */
}

.container:hover .arrow-right-series,
.container:hover .arrow-left-series,
.animation-container:hover .arrow-right-animation,
.animation-container:hover .arrow-left-animation,
.reprendre-container:hover .arrow-right,
.reprendre-container:hover .arrow-left {
    opacity: 1;
    transition: 0.2s;
}

.container .body-item-1:hover,
.reprendre-container .body-item-1:hover,
.animation-container .animation-body-item-1:hover {
    color: #EB7A57;
    opacity: 1;
}

.container .body-item,
.reprendre-container .body-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
}

.container .body-item:hover,
.reprendre-container .body-item:hover {
    width: 22vw;
    height: 22vw;
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}

.container .body-item-1,
.reprendre-container .body-item-1,
.animation-container .animation-body-item-1 {
    flex-grow: 1;
    text-align: center;
    opacity: 0.4;
}

.container .body-item-1:hover,
.reprendre-container .body-item-1:hover,
.animation-container .animation-body-item-1:hover {
    color: #EB7A57;
    opacity: 1;
    transition: 0.2s;
}

.container .body-item-2,
.reprendre-container .body-item-2 {
    align-self: flex-start;
    font-size: 1.2rem;
    margin-bottom: 0.5vw;
}



.container .play,
.reprendre-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .play i,
.reprendre-container .play i {
    margin-top: 3vw;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    border-radius: 25vw;
    background: rgba(0, 0, 0, 0.5);
    border: 0.1em solid white;
    padding: 1.4vw;
    font-size: 2vw;
    margin-bottom: 1rem;
    /* border: solid lime 1px; */

}

.arrow-right-series,
.arrow-left-series,
.arrow-left-animation,
.arrow-right-animation {
    color: white;
    background-color: rgba(20, 20, 20, 0.5);
    width: 3%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    font-size: 2vw;
    opacity: 0.2;
}

.arrow-right-series:hover,
.arrow-left-series:hover,
.arrow-right-animation:hover,
.arrow-left-animation:hover {
    font-size: 3vw;
    transition: 0.1s;
    color: #EB7A57;
}

.arrow-right-series,
.arrow-right-animation {
    right: 0;
}

.arrow-left-series,
.arrow-left-animation {
    left: 0;
}

/* Taille par défaut des éléments */
.item {
    width: 20vw;
    /* Taille ajustée pour afficher 5 images */
    height: 12vw;
    /* Ajustement de la hauteur */
    background: no-repeat center/cover;
    margin: 0 10px;
    /* Espacement ajusté entre les éléments */
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    color: white;
    box-shadow: 0 4px 15px #000;
}

/* Effet de hover pour agrandir légèrement l'élément */
.item:hover {
    width: 22vw;
    /* Agrandissement léger en largeur */
    height: 14vw;
    /* Agrandissement léger en hauteur */
    transition: 0.3s ease;
    opacity: 1;
}

.item:hover .body-item {
    visibility: visible;
}

.item:hover .body-item-1 {
    width: 100%;
    /* border: #EB7A57 solid 1px; */
}

.match {
    color: #45af5e;
    font-size: bold;
}

.description {
    font-weight: 300;
    font-size: 1.4vw;
}


.properties .age-limit,
.animation-properties .age-limit {
    border: 0.1em solid rgba(255, 255, 255, 0.4);
    font-weight: 200;
    font-size: 1.2vw;
    padding: 0 3px 0 3px;
}

.content-wrapper {
    background-color: rgba(0, 20, 41, 0.716);
    /* Fond semi-transparent noir */
    padding: 1vw;
    /* border-radius: 0.5vw; */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    /* border: solid 1px lime; */
    margin-bottom: 40%;
    /* height: 200px; */
    /* width: 20rem; */
}

.item:hover .content-wrapper {
    opacity: 1;
    /* Affiche le contenu lorsque l'élément est survolé */
}

/* *****************Carrousel films************** */
.carousel-container-animation {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

/************ FOOTER ************/
footer {
    height: 300px;
    background-color: #001D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#liste-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

#liste-footer p {
    margin: 0;
    padding: 10px;
    color: #FFFAE0;
    font-family: Fredoka;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

#liste-footer p:hover {
    color: #EB7A57;
}

footer i {
    font-size: 30px;
    color: #FFFAE0;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

footer i:hover {
    color: #EB7A57;
}

footer p {
    color: #FFFAE0;
    margin-top: 20px;
    font-family: Fredoka;
}

footer a {
    text-decoration: none;
}

/************ RESPONSIVE ************/
@media (max-width: 767px) {

    /*** TOP NAV BAR ***/
    #menu {
        width: 100vw;
    }

    .tab-bar {
        display: flex;
    }

    #menu ul,
    .account {
        display: none;
        /* Cache tous les éléments du menu*/
    }

    .fi-rr-search .fi-rr-globe {
        display: flex;
        /* Affiche les icônes de navigation */
        align-items: center;
    }

    .fi-rr-globe {
        margin-right: 15px;
    }

    .logo img {
        width: 2rem;
    }

    .search-box.active {
        width: 160px;
        height: 1.6rem;
        /*padding-block: 1px;*/
        border-radius: 20px;
        background: #001429;
        color: var(--beige);
        text-indent: 0;
        /*Affiche le texte lorsqu'elle est en focus*/
        padding-left: 40px;
    }

    .search-icon i {
        font-size: 1.4rem;
    }

    /* BOTTOM NAV BAR */
    /*Display the tab bar on small screens */
    .tab-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--beige);
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 10px 0;
        z-index: 1000;
    }

    .tab-bar a {
        color: #001D3D;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .tab-bar a:hover {
        color: #E28B70;
    }

    /*DESCRIPTION SELECT*/
    .select-container-row {
        margin: 25px auto 0px auto;
    }

    /* SECTION VIDEO */
    #video-container {
        width: 100%;
        /*élément prend la largeur de l'écran */
        height: auto;
        /* ajuste automatiquement la hauteur selon le contenu */
        margin-top: 20px;
    }

    video {
        width: 100%;
        height: auto;
        /*vidéo s'adaptera à la largeur de son conteneur */
    }

    #progress-bar {
        width: 100%;
        /* le slider de la barre de progression s'adapte aussi à la largeur */
    }

    /* FOOTER */
    footer {
        padding: 1rem;
        text-align: center;
        height: fit-content;
    }

    #liste-footer {
        flex-direction: column;
    }

    section {
        padding: 0rem;
    }
}

@media (max-width: 345px) {}