/************ CSS COMMUN ************/

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: #001D3D;
    --beige: #FFFAE0;
    --corail: #EB7A57;
    --font-size-paragraph: 1rem;
    --font-size-title: 2rem;
}

body {
    margin: 0;
    font-family: "Fredoka", sans-serif;
    background-color: var(--dark-blue);
}

section {
    margin-right: auto;
    margin-left: auto;
    padding: 2rem;
}

#main-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1350px;
}


/************ NAV BAR ************/
/* Styles pour la barre de navigation */
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px 0px;
    background: linear-gradient(to right, #000, transparent);
    height: 50px;
    position: fixed;
    /* Fixe la navbar en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Assure que la navbar est au-dessus des autres éléments */
}

/* Styles pour le logo à gauche */
.logo img {
    width: 3em;
    /* Taille du logo */
}

/* Centrage des liens de navigation */
.nav-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    list-style: none;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    line-height: 45px;
    padding: 0 14px;
    text-decoration: none;
    color: var(--beige);
    font-size: 16px;
}

.nav-links a:hover {
    color: #E28B70;
}

/* Alignement des icônes à droite */
.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .icon {
    margin-left: 15px;
    position: relative;
    /* Pour la barre de recherche */
}

.nav-icons .icon i {
    font-size: 1.5em;
    /* Taille des icônes */
    color: var(--beige);
    /* text-decoration: none !important; */
}

.icon i:hover,
.search-icon i:hover,
footer i:hover {
    color: #F6EDC2;
    text-decoration: none;
}

/* ****************barre de recherche**** */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    /* Centre verticalement les éléments */
}

.search-box {
    transition: width 0.6s ease, border-radius 0.6s ease, background 0.6s ease, box-shadow 0.6s ease;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: text;
    background: transparent;
    color: transparent;
    /* Masque le texte lorsqu'il n'est pas en focus */
    padding-left: 40px;
    /* Espace pour l'icône de recherche */
    text-indent: -5000px;
    /* Cache le texte dans la barre de recherche lorsqu'elle n'est pas en focus */
}

.search-box:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px var(--beige);
    /* Couleur de l'ombre au focus */
}

.search-box.active {
    width: 300px;
    border-radius: 20px;
    background: #001429;
    color: var(--beige);
    text-indent: 0;
    /* Affiche le texte lorsqu'elle est en focus */
    padding-left: 40px;
}

.search-icon {
    position: absolute;
    left: 10px;
    /* Ajuste la position horizontale de l'icône de recherche */
    top: 54%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon i {
    color: var(--beige);
    font-size: 1.5rem;
}

/* Styles pour le menu déroulant */
.account {
    position: relative;
    /* Pour positionner le sous-menu par rapport à .account */
}

.sub-menus {
    position: absolute;
    top: 144%;
    /* Positionner le sous-menu directement sous le parent */
    right: 0;
    /* Aligner le sous-menu avec le bord droit de l'icône */
    width: 200px;
    /* Largeur du sous-menu */
    background: #001D3D;
    z-index: 99;
    display: none;
    /* Masqué par défaut */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.sub-menus.active {
    display: block;
    /* Affiche le sous-menu */
    opacity: 1;
    /* Assure une transition en douceur */
    visibility: visible;
}

.sub-menus li {
    list-style: none;
}

.sub-menus a {
    color: var(--beige);
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 15px;
    /* Espacement interne des liens */
}

.sub-menus a:hover {
    background: #E28B70;
    color: #FACA78;
}

.sub-menus i {
    padding-right: 10px;
    /* Espacement entre l'image et le texte */
    font-size: 1.5rem;
}

.tab-bar {
    display: none;
}

/************ VIDEO PLAYER BOX ************/
#principal-video h1 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: 4rem;
    margin-top: 60px;
    text-align: center;
}

#video-player-box {
    position: relative;
    margin-top: 50px;

}

video::-webkit-media-controls {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video {
    pointer-events: none;
    position: relative;
}

#video-controls-container {
    height: 100px;
    background: linear-gradient(to top, #001D3D, transparent);
    opacity: 0;
    position: absolute;
    bottom: 0px;
    width: 100%;

    transition: opacity 1s ease;
}


#video-player-box:fullscreen {
    width: 100vw;
    /* La vidéo occupe toute la largeur de l'écran */
    height: 100vh;
    /* La vidéo occupe toute la hauteur de l'écran */
    position: relative;
}

#video-controls-container:fullscreen {
    width: 100%;
    /* Les contrôles occupent toute la largeur de l'écran */
    position: absolute;
    bottom: 0;
    /* Positionnez les contrôles en bas de la vidéo */
    z-index: 10000;
    /* Assurez-vous que les contrôles sont toujours au-dessus */
}


/* TOP CONTROLS */
#top-controls {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#time-progression-container {
    font-size: 20px;
    color: #fff;
    font-family: 'Fredoka';
    margin-top: 10px;
}

#progress-bar {
    -webkit-appearance: none;
    /* width: 100%; */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    display: block;
    width: 1250px;
    margin: 15px;
}

#progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--beige);
    cursor: pointer;
}

#progress-bar::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--beige);
    cursor: pointer;
}

/* ICONES DU PLAYER : #btn-en-arriere, #btn-en-avant, .fa-pause,
.fa-play, .fa-volume-xmark, .fa-volume-high, .fa-expand, .fa-compress */
.fa-pause,
.fa-play,
.fa-volume-xmark,
.fa-volume-high,
.fa-expand,
.fa-compress {
    font-size: 30px;
    color: var(--beige);
    margin-top: 10px;
    cursor: pointer;
}

#btn-en-arriere,
#btn-en-avant {
    font-size: 30px;
    color: var(--beige);
    font-family: 'Fredoka';
    padding: 5px;
    cursor: pointer;
}

/* BOTTOM CONTROLS */
#bottom-controls {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    margin: 0px 20px;
    gap: 25px;
    position: relative;
}

/* BOTTOM LEFT CONTROLS */
div #left-controls {
    display: flex;
    gap: 25px;
}



/* BOTTOM RIGHT CONTROLS */
#right-controls {
    display: flex;
    position: absolute;
    right: 10px
}

#mute-btn {
    margin-right: 10px;
}

#volume-slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    display: block;
    width: 100px;
    margin: 15px;
}

#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--beige);
    cursor: pointer;
}

#volume-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--beige);
    cursor: pointer;
}


#full-screen {
    margin-left: 25px;
}

/************ DESCRIPTION ************/

#description h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin: 25px 0px;
}

#description p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    line-height: 1.5rem;
}

#select-box-saisons,
#select-box-episodes {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: var(--font-size-paragraph);
    background-color: var(--dark-blue);
    color: var(--beige);
    border: 2px solid var(--beige);
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    appearance: none;
    background-image: url('/assets/images-fiche-dessin-anime/chevron-beige.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 15px center;
    width: 140px;
    /* margin-bottom: 25px; */
    cursor: pointer;
}

.select-container-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: fit-content;
    /*ajustement au niveau du contenu au lieu du conteneur*/
}

select:focus {
    outline: 2px solid var(--beige);
}

/************ COMMENTAIRES ************/

#commentaires h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin: 25px 0px;
}

#commentaires p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige);
    line-height: 1.5rem;
}

.fa-circle-user {
    font-size: 2rem;
    color: var(--beige);

}


#voir-plus-commentaires {
    color: var(--beige);
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.show-more-comment {}


#commentaires .user-comment-row {
    margin: 30px 0px 10px 0px;
}

.user-comment-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.star-rating-container {
    height: 30px;
    width: 150px;
    /* background-color: var(--corail); */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 5px;
}

.fa-star,
.fa-star-half-stroke {
    font-size: 1rem;
    color: var(--beige);
}


/************ VOTRE AVIS ************/
#votre-avis h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin: 25px 0px;
}

#votre-avis p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    color: var(--beige)
}

#votre-avis .user-comment-row {
    margin: 0px 0px 20px 0px;
}

textarea {
    color: var(--beige);
    background-color: #001429;
    opacity: 0.75;
    width: 100%;
    height: 230px;
    resize: none;
    /*retire l'element qui permet d'agrandir la text area*/
    border: 2px solid transparent;
    /*bordure en transparent pour que lors du focus ca ne s'agrandisse pas*/
    outline: none;
    padding: 10px;
    font-family: 'Fredoka';
    font-weight: 400;
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
}

textarea:hover {
    cursor: pointer;
    /* background-color: #001429; */
}

textarea:focus {
    cursor: text;
    border-color: var(--beige);
    /*bordure ne s'agrandit pas */
}

button[type="submit"] {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--font-size-paragraph);
    background-color: var(--dark-blue);
    color: var(--beige);
    text-decoration: none;
    border: 2px solid var(--beige);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    display: block;
    /*le btn est en display block comme ca je n'ai pas à créer de div pour le centrer*/
    margin: 20px auto 0px auto;
    cursor: pointer;
}

/************ NOS SUGGESTIONS ************/
#nos-suggestions h2 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: var(--beige);
    font-size: var(--font-size-title);
    margin: 25px 0px;
}

/************ FOOTER ************/
footer p {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-paragraph);
}

footer {
    height: 300px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#liste-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

#liste-footer p {
    margin: 0;
    padding: 10px;
    color: var(--beige);
}

footer i {
    font-size: 30px;
    color: var(--beige);
    padding: 10px;
}

footer p {
    color: var(--beige);
    margin-top: 20px;
}

/************ RESPONSIVE ************/
@media (max-width: 767px) {

    /*** TOP NAV BAR ***/
    #menu {
        width: 100vw;
    }

    .tab-bar {
        display: flex;
    }

    #menu ul,
    .account {
        display: none;
        /* Cache tous les éléments du menu*/
    }

    .fi-rr-search .fi-rr-globe {
        display: flex;
        /* Affiche les icônes de navigation */
        align-items: center;
    }

    .fi-rr-globe {
        margin-right: 15px;
    }

    .logo img {
        width: 2rem;
    }

    .search-box.active {
        width: 160px;
        height: 1.6rem;
        /*padding-block: 1px;*/
        border-radius: 20px;
        background: #001429;
        color: var(--beige);
        text-indent: 0;
        /*Affiche le texte lorsqu'elle est en focus*/
        padding-left: 40px;
    }

    .search-icon i {
        font-size: 1.4rem;
    }

    /* BOTTOM NAV BAR */
    /*Display the tab bar on small screens */
    .tab-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--beige);
        position: fixed;
        bottom: 0;
        width: 100vw;
        padding: 10px 0;
        z-index: 1000;
    }

    .tab-bar a {
        color: #001D3D;
        font-size: 1.5rem;
        text-decoration: none;
    }

    .tab-bar a:hover {
        color: #E28B70;
    }

    /*DESCRIPTION SELECT*/
    .select-container-row {
        margin: 25px auto 0px auto;
    }

    /* SECTION VIDEO */
    #video-player-box {
        width: 100%;
        /*élément prend la largeur de l'écran */
        height: auto;
        /* ajuste automatiquement la hauteur selon le contenu */
        margin-top: 20px;
    }

    video {
        width: 100%;
        height: auto;
        /*vidéo s'adaptera à la largeur de son conteneur */
    }

    #progress-bar {
        width: 100%;
        /* le slider de la barre de progression s'adapte aussi à la largeur */
    }

    /* FOOTER */
    footer {
        padding: 1rem;
        text-align: center;
        height: fit-content;
    }

    #liste-footer {
        flex-direction: column;
    }

    section {
        padding: 0rem;
    }
}

@media (max-width: 345px) {}