*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour les titres */
h1, h2, h3 {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FFFAE0;
    letter-spacing: 2px;
    text-shadow: 0 4px 15px #000;

}

/* Styles pour le corps de la page */
body {
    font-family: "Fredoka", sans-serif;
    background-color: #001D3D;

}



/* Styles pour l'en-tête */
.entete{
    /* border: solid red 1px; */
    margin-block: 8rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 3.5rem;
    margin-block: 2rem;
}

h2{
  font-size: 3rem;
  /* border: solid 1px greenyellow; */
  margin-block: 1rem;
}

h3{
    margin-top: 3rem;
    font-size: 2rem;
}

hr{
    border: solid 1px #FFFAE0;
    margin: 5% 10%;
}

section:not(#player, #affiche){
  margin: 5rem 2rem;
}

.tab-bar {
    display: none;
}   



/* Styles pour la barre de navigation */
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px;
    padding-inline: 20px 0px;
    background: linear-gradient(to right, #000, transparent);
    height: 60px;
    position: fixed; /* Fixe la navbar en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Assure que la navbar est au-dessus des autres éléments */
}

/* Styles pour le logo à gauche */
.logo img {
    width: 3.5em; /* Taille du logo */
}

/* Centrage des liens de navigation */
.nav-links {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    list-style: none;
    gap: 3rem;
    margin-inline: 3rem;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    display: block;
    line-height: 45px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFAE0;
    font-size: 16px;
}

.nav-links a:hover {
    color: #E28B70;
}

/* Alignement des icônes à droite */
.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .icon {
    margin-left: 15px;
    position: relative; /* Pour la barre de recherche */
}

.nav-icons .icon i {
    font-size: 1.5em; /* Taille des icônes */
    color: #FFFAE0;
    /* text-decoration: none !important; */
}

.icon i:hover,.search-icon i:hover, footer i:hover{
    color: #EB7A57;
    text-decoration: none;
}

/* ****************barre de recherche**** */
.search-container {
    position: relative;
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
}

.search-box {
    transition: width 0.6s ease, border-radius 0.6s ease, background 0.6s ease, box-shadow 0.6s ease;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: text;
    background: transparent;
    color: transparent; /* Masque le texte lorsqu'il n'est pas en focus */
    padding-left: 40px; /* Espace pour l'icône de recherche */
    text-indent: -5000px; /* Cache le texte dans la barre de recherche lorsqu'elle n'est pas en focus */
}

.search-box:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 0 2px #FFFAE0; /* Couleur de l'ombre au focus */
}

.search-box.active {
    width: 300px;
    border-radius: 20px;
    background: #001D3D;
    color: #FFFAE0;
    text-indent: 0; /* Affiche le texte lorsqu'elle est en focus */
    padding-left: 40px;
}

.search-icon {
    position: absolute;
    left: 10px; /* Ajuste la position horizontale de l'icône de recherche */
    top: 54%;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-icon i{
    color: #FFFAE0;
    font-size: 1.5rem;
}

/* Styles pour le menu déroulant */
.account {
    position: relative; /* Pour positionner le sous-menu par rapport à .account */
}

.sub-menus {
    position: absolute;
    top: 144%; /* Positionner le sous-menu directement sous le parent */
    right: 0;  /* Aligner le sous-menu avec le bord droit de l'icône */
    width: 200px; /* Largeur du sous-menu */
    background: #001D3D;
    z-index: 99;
    display: none; /* Masqué par défaut */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.sub-menus.active {
    display: block; /* Affiche le sous-menu */
    opacity: 1; /* Assure une transition en douceur */
    visibility: visible;
}

.sub-menus li {
    list-style: none;
}

.sub-menus a {
    color: #FFFAE0;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px 15px; /* Espacement interne des liens */
}

.sub-menus a:hover {
    /* background: #E28B70; */
    color: #EB7A57;
}

.sub-menus i {
    padding-right: 10px; /* Espacement entre l'image et le texte */
    font-size: 1.5rem;
}

/************ VIDEO PLAYER BOX ************/
video {
    /* pointer-events: none;
    position: relative; */
    object-fit: cover;
    /* z-index: -1; */
    /* border: solid red 1px; */
}

#player {
  position: relative;
  width: 100%;
  height: 700px;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFAE0;
}

.overlay-content img {
  margin-bottom: 20px;
}

.overlay-content p {
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.overlay-content button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.overlay-content i {
  margin-right: 0.5rem;
}

.overlay-content button:hover{
  color: #EB7A57;
  background-color: rgba(255, 255, 255, 0.8);
}

#overlay-button{
  display: flex;
}

.mute-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: black;
  border-radius: 5px;
}

.mute-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

/************ Affiche ************/
#affiche{
    /* padding-block: 3rem; */
    margin-inline: 4rem;
    /* border: solid 1px peachpuff; */
}

#affiche div{
    display: flex;
    justify-content: center;
    gap: 65px;
  /* border: solid 1px greenyellow; */


}

#affiche img{
    box-shadow: 0 4px 15px #000;
    /* width: 10%; */
}


/*****************carrousel séries et historique***********/
#historique-container, #series-container {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Transition fluide */
  /* border: 1px solid #45af5e; */
  /* align-items: center; */
  justify-content: center;
}

.carousel-container, .carousel-container-reprendre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden; /* Empêche le débordement visuel */
    width: 100%;
    /* border: solid 1px red;  */
}

.container, .reprendre-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  height: 40vh;
  overflow: hidden;
  width:100%;
  /* border: solid 1px yellow; */
}

.container:hover .arrow-right-series,
.container:hover .arrow-left-series, .animation-container:hover .arrow-right-animation,
.animation-container:hover .arrow-left-animation ,.reprendre-container:hover .arrow-right,
.reprendre-container:hover .arrow-left {
  opacity: 1;
  transition: 0.2s;
}

.container .body-item-1:hover, .reprendre-container .body-item-1:hover, .animation-container .animation-body-item-1:hover {
  color: #EB7A57;
  opacity: 1;
}
.container .body-item, .reprendre-container .body-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.container .body-item:hover, .reprendre-container .body-item:hover{
  width: 22vw;
  height: 22vw;
  opacity: 1;
  transition: 0.4s;
  transition-delay: 0.4s;
}
.container .body-item-1, .reprendre-container .body-item-1,.animation-container .animation-body-item-1{
  flex-grow: 1;
  text-align: center;
  opacity: 0.4;
}
.container .body-item-1:hover, .reprendre-container .body-item-1:hover, .animation-container .animation-body-item-1:hover {
  color: #EB7A57;
  opacity: 1;
  transition: 0.2s;
}
.container .body-item-2, .reprendre-container .body-item-2 {
  align-self: flex-start;
  font-size: 1.2rem;
  margin-bottom: 0.5vw;
}



.container .play, .reprendre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .play i, .reprendre-container .play i{
  margin-top: 3vw;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  border-radius: 25vw;
  background: rgba(0, 0, 0, 0.5);
  border: 0.1em solid white;
  padding: 1.4vw;
  font-size: 2vw;
  margin-bottom: 1rem;
  /* border: solid lime 1px; */

}




/* Taille par défaut des éléments */
.item {
  width: 20vw; /* Taille ajustée pour afficher 5 images */
  height: 12vw; /* Ajustement de la hauteur */
  background: no-repeat center/cover;
  margin: 0 10px; /* Espacement ajusté entre les éléments */
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  box-shadow: 0 4px 15px #000;
}

/* Effet de hover pour agrandir légèrement l'élément */
.item:hover {
  width: 22vw; /* Agrandissement léger en largeur */
  height: 14vw; /* Agrandissement léger en hauteur */
  transition: 0.3s ease;
  opacity: 1;
}


.item:hover .body-item {
  visibility: visible;
}
.item:hover .body-item-1 {
  width:100%;
  /* border: #EB7A57 solid 1px; */
}



.arrow-right-series,
.arrow-left-series, .arrow-left-animation, .arrow-right-animation{
  color: white;
  background-color: rgba(20, 20, 20, 0.5);
  width: 3%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  font-size: 2vw;
  opacity: 0.2;
}
.arrow-right-series:hover,
.arrow-left-series:hover, .arrow-right-animation:hover, .arrow-left-animation:hover {
  font-size: 3vw;
  transition: 0.1s;
  color: #EB7A57;
}

.arrow-right-series, .arrow-right-animation {
  right: 0;
}

.arrow-left-series, .arrow-left-animation {
  left: 0;
}

.match {
  color: #45af5e;
  font-size: bold;
}

.description {
  font-weight: 300;
  font-size: 1.4vw;
}


.properties .age-limit, .animation-properties .age-limit{
  border: 0.1em solid rgba(255, 255, 255, 0.4);
  font-weight: 200;
  font-size: 1.2vw;
  padding: 0 3px 0 3px;
}

.content-wrapper {
    background-color:rgba(0, 20, 41, 0.716); /* Fond semi-transparent noir */
    padding: 1vw;
    /* border-radius: 0.5vw; */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    /* border: solid 1px lime; */
    margin-bottom: 40%;
    /* height: 200px; */
    /* width: 20rem; */
}

.item:hover .content-wrapper {
    opacity: 1; /* Affiche le contenu lorsque l'élément est survolé */
}

/* *****************Carrousel films************** */
.carousel-container-animation {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%; 
}

/* Conteneur des films d'animation */
#animation-films-container {
  display: flex;
  transition: transform 0.5s ease; /* Transition pour l'effet de glissement */
  width: calc(250px * 6 + 60px); /* Ajustez la largeur selon le nombre d'éléments et les marges */
  /* 250px est la largeur de chaque élément + 10px de marge de chaque côté */
}

/* Conteneur d'animation */
.animation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Masquer le débordement */
}



.animation-body-item-1 .play i{
  /* border: solid red 1px; */
  /* margin-top: 3vw; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 6vw;
  height: 6vw;
  border-radius: 25vw;
  background: rgba(0, 0, 0, 0.5);
  border: 0.1em solid white;
  padding: 1.4vw;
  font-size: 2.5vw;
}


.animation-body-item{
  /* border: solid 1px lime; */
  height: 400px;
  /* border: solid 1px magenta; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 50%; 
  opacity: 0;
}

.animation-body-item:hover{
  opacity: 1;
  transition: 0.4s;
  transition-delay: 0.4s;
}
.animation-item {
  width: 300px; /* Largeur de l'affiche */
  height: 400px; /* Hauteur de l'affiche */
  background: no-repeat center/cover;
  margin: 8px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
  box-shadow: 0 4px 15px #000;
  overflow: hidden;
}


.animation-item:hover {
    transform: scale(1.05); /* Effet d'agrandissement au survol */
    transition: 0.3s ease;
}

.animation-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.animation-properties {
    font-size: 1rem;
}

.animation-content-wrapper {
    background-color: rgba(0, 20, 41, 0.716);
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Invisible par défaut */
    /* margin-top: 18rem; */
    height: 14rem;
    /* border: solid 1px blue; */
}

.animation-item:hover .animation-content-wrapper {
    opacity: 1; /* Affiche le contenu lors du survol */
}


  /* ************************footer********************* */
footer {
    height: 300px;
    background-color: #001D3D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

footer img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

#liste-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

#liste-footer p {
    margin: 0;
    padding: 10px;
    color: #FFFAE0;
}

footer i {
    font-size: 30px;
    color: #FFFAE0;
    padding: 10px;
}
footer p {
    color: #FFFAE0;
    margin-top: 20px;
}

footer i:hover, footer p:hover{
  color: #EB7A57;
}